/*GLOBAL*/
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: white;
  line-height: 1;
  margin: 0;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
  background-color: rgba(0, 0, 0, 0.921);
}

main {
  flex-grow: 1;
}
img{max-width: 100%;}
ul{padding: 0; margin: 0; list-style: none;}
a{text-decoration: none; color: white;}

h1{
  font-size: 4rem;
  font-family: 'Roboto Mono', sans-serif;
}
/*Header*/
header{
  background: url('../img/tmdb_header.png'), no-repeat;
  background-position-y: 70%;
  background-size: 100%;
  padding: 3rem;
  text-align: center;
}

#filters{
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: #bdbdbd2c;
}
/*
.hidden{
  display: none;
}
*/

form{
  display: flex;
  justify-content: center;
  background-color: #bdbdbd2c;
  padding: 2rem;
}

form label{
  margin-left: 3rem;
}
form input{
  margin-left: 5px;
}

#filters ul{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

#filters li a{
  margin-left: 4rem;
  transition-duration: 0.4s;
}
/*Opacity when hover genres li*/
ul:hover > li a {
  opacity: 0.4;
 }
 
 ul > li:hover a {
   opacity: 1;
 }
 


#catalog{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie{
  display: flex;
  flex-direction: column;
  max-width: 10%;
}

.movie img{
  width: 100%;
  position: relative;
}

.img-container{
  position: relative;
}

h2, .movie p:last-of-type{
  text-align: center;
}

.movie p:last-of-type{
  margin-top: 0;

}

/*Notes color*/
.note{
  max-width: fit-content;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.green{
  background-color: green;
}

.blue{
  background-color: #015273;
}


/*Footer*/
footer{
  text-align: center;
  padding: 1rem;
  background: #015273;
margin: top auto;
}

footer img{
  max-width: 8%;
}